{% extends "base.html" %}
{% block body %}
    <div class="indicator-card">
        <div id="close-indicator"></div>
    </div>
    <div class="time-filter-btns">
        <button class="filter-btn btn btn-light" value="1d" onclick=candlestickPlot(this.value)>1d</button>
        <button class="filter-btn btn btn-light" value="5d" onclick=candlestickPlot(this.value)>5d</button>
        <button class="filter-btn btn btn-light" value="1mo" onclick=candlestickPlot(this.value)>1mo</button>
        <button class="filter-btn btn btn-light" value="3mo" onclick=candlestickPlot(this.value)>3mo</button>
        <button class="filter-btn btn btn-light" value="6mo" onclick=candlestickPlot(this.value)>6mo</button>
        <button class="filter-btn btn btn-light" value="1y" onclick=candlestickPlot(this.value)>1y</button>
    </div>

    <div class="chart-card">
        <div id="candlestickChart"></div>
        <div id="macd"></div>
    </div>

    <div id="info-card">
        <h3>About</h3>
        <p id="info-summary">Summary:</p>
        <p id="info-industry">Industry:</p>
        <p id="info-sector">Sector:</p>
        <p id="info-address">Address:</p>
        <p id="info-state">State:</p>
        <p id="info-country">County:</p>
        <p id="info-website">Website:</p>
    </div>
{% endblock %}